@font-face {
  font-family: 'novecento_sans_widenormal';
  src: url("../fonts/Novecentosanswide-Normal-webfont.eot");
  src: url("../fonts/Novecentosanswide-Normal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Normal-webfont.woff2") format("woff2"), url("../fonts/Novecentosanswide-Normal-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Normal-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Normal-webfont.svg#novecento_sans_widenormal") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'novecento_sans_widelight';
  src: url("../fonts/Novecentosanswide-Light-webfont.eot");
  src: url("../fonts/Novecentosanswide-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Light-webfont.woff2") format("woff2"), url("../fonts/Novecentosanswide-Light-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Light-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'novecento_sans_wide_bookbold';
  src: url("../fonts/Novecentosanswide-Bold-webfont.eot");
  src: url("../fonts/Novecentosanswide-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Bold-webfont.woff2") format("woff2"), url("../fonts/Novecentosanswide-Bold-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Bold-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "novecento_sans_wide_bookbold"; }

h1, h2, h3, h4, h5, h6, span, p, i, a {
  color: #3A3A3A; }

.mainTopo {
  background-color: #9194a3;
  height: 100%; }

.topo {
  border-bottom: 1px solid #ffffff; }

.container {
  margin-left: auto;
  margin-right: auto; }

.logo {
  padding: 15px 10px;
  margin-right: 20px; }
  .logo img {
    height: 90px; }

.menu, .social {
  height: 125px;
  box-sizing: border-box; }

.menu ul, .social ul {
  margin-top: 0; }

.menu ul li, .social ul li {
  list-style: none;
  display: inline-block;
  padding-top: 50px;
  padding-right: 35px; }

.menu ul li a, .social ul li a {
  font-family: "novecento_sans_wide_bookbold";
  height: 70px;
  text-decoration: none;
  display: block;
  color: #ffffff;
  font-size: 20px;
  border: 0 solid transparent;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out; }

.social ul li a i {
  font-size: 36px;
  color: #ffffff;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }
  .social ul li a i:hover {
    color: #A81E22; }

.menu ul li a:hover {
  border-bottom-width: 4px;
  border-bottom-color: #A81E22;
  border-bottom-style: solid; }

.banner ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.perfil article {
  margin-left: 50px;
  text-align: center;
  margin-top: 160px; }
  .perfil article i {
    font-size: 41px;
    color: #3A3A3A; }
  .perfil article p {
    font-family: "Raleway", sans-serif !important;
    text-align: justify;
    color: #727480; }
  .perfil article h3 {
    font-size: 46px;
    font-family: "novecento_sans_wide_bookbold";
    color: #3A3A3A; }

.servicos {
  background-color: #5a65d1; }
  .servicos h3 {
    color: #ffffff;
    display: inline-block; }
  .servicos div {
    margin-left: 50px;
    top: -5px; }
    .servicos div button {
      border: none;
      background: none;
      box-shadow: none;
      color: #ffffff;
      font-family: "Raleway", sans-serif; }
      .servicos div button:hover {
        border: none;
        background: none;
        box-shadow: none;
        color: #ffffff;
        font-family: "novecento_sans_wide_bookbold"; }
      .servicos div button:focus {
        border: none;
        background: none;
        box-shadow: none;
        color: #ffffff;
        font-family: "novecento_sans_wide_bookbold"; }
    .servicos div .active {
      border: none;
      background: none;
      box-shadow: none;
      color: #ffffff;
      font-family: "novecento_sans_wide_bookbold"; }
      .servicos div .active:hover {
        border: none;
        background: none;
        box-shadow: none;
        color: #ffffff;
        font-family: "novecento_sans_wide_bookbold"; }
      .servicos div .active:focus {
        border: none;
        background: none;
        box-shadow: none;
        color: #ffffff;
        font-family: "novecento_sans_wide_bookbold"; }
  .servicos ul {
    list-style: none; }
    .servicos ul li {
      display: inline-block;
      width: 280px;
      height: 250px;
      background-color: #d0d0d0;
      margin-right: 15px;
      margin-top: 15px; }
