<div class="perfil">
    <img src="../img/perfil.jpg" class="pure-u-1-3">
    <article class="pure-u-6-12">
        <i class="fa fa-home"></i>
        <h3>Quem sou?</h3>
        <p class="pure-u-1-2">
            "Olá, meu nome é Ricardo. Desenvolvedor Front e Back End. Domino HTML, CSS, AngularJs e NodeJS.
            Trabalho com Java, Vraptor4, MySQL, Hibernate.
            Amante de livros, café e rugby."
        </p>
    </article>
</div>
<div class="servicos">
    <h4>Selector-Based Filter</h4>
    <div class="btn-group" opt-kind ok-key="filter" >
      <button type='button' class='btn btn-default active' ok-sel="*">Show All</button>
      <button type='button' class='btn btn-default' ok-sel=".purple">Purple</button>
      <button type='button' class='btn btn-default' ok-sel=".orange">Orange</button>
      <button type='button' class='btn btn-default' ok-sel=".blue">Blue</button>
      <button type='button' class='btn btn-default' ok-sel=".green">Green</button>
      <button type='button' class='btn btn-default' ok-sel=":not(.blue)">Not Blue</button>
      <button type='button' class='btn btn-default' ok-sel="#extra">Extra Only</button>
    </div>
    <ul id="isotopeContainer" isotope-container ng-cloak class="ng-cloak">
        <li ng-repeat="x in xList" isotope-item class="kindling {{x.class}}" onClick="removeItem(this)">
           <div class="symbol">{{x.name}}</div>
           <div class="weight" date="{{x.date}}">{{x.date | date}}</div>
           <div class="number" number="{{x.number}}">{{x.number}}</div>
        </li>

        <li id="extra" isotope-item class="kindling green">
           <div class="symbol">extra</div>
           <div class="weight" date="1360313309421">{{'1360313309421' | date}}</div>
           <div class="number" number="20">Twenty</div>
        </li>
    </ul>
</div>
